/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

body {
  line-height: 1.6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  padding-top: 50px
}

/* 전체 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  margin-left: 0;
  position: relative;
  overflow: hidden;
}

/* 반투명 + 블러 박스 */
.glass-box {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  padding: 32px;

  /* 반응형 대응 */
  width: 95%;
  max-width: 1300px;
  margin: 32px auto 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

/* 게시판 타이틀 */
.board_title {
  text-align: left;
  margin-bottom: 20px;
}
.board_title strong {
  font-size: 1.4rem;
  color: #fff;
}

/* 공통 요소 */

.board_wrap {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}

/* 게시글 작성 */
.board_write dl {
  display: flex;
  margin-bottom: 15px;
  color: white;
}
.board_write dt {
  width: 100px;
  font-size: 0.9rem;
  color: white;
}
.board_write dd {
  flex: 1;
  color: white;
}
.board_write input,
.board_write textarea {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 0.9rem;
  border-radius: 4px;
  color: white;
}
.board_write textarea {
  height: 200px;
  resize: vertical;
  color: white;
}
.board_write textarea::placeholder {
  color: #fff;
  opacity: 1; 
}

/* 버튼 영역 */
.bt_wrap {
  margin-top: 10px;
  text-align: right;
}
.bt_wrap button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.06);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.bt_wrap button:hover {
  background: #379683;
  border-color: #46ac8f;
}

/* ---------------- 반응형 설정 ---------------- */

/* 태블릿 이하 */
/* @media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
  #writeBtn {
    float: right;
    width: auto;
    margin-left: auto;
    white-space: nowrap;
  }
} */

/* 모바일 */
@media (max-width: 740px) {
  /* .container {
    flex-direction: row;
    padding: 16px;
    min-width: 320px;
  }
  #writeBtn {
    float: right;
    font-size: 1.0rem;
    padding: 8px 12px;
    white-space: nowrap;
    min-width: 100px;
  } */
  .board_write dl {
    font-size: 0.9rem;
    flex-direction: row;
  }
  .board_write dt {
    padding: 8px;
    font-size: 0.9rem;
  }
  .bt_wrap {
    text-align: left;
    font-size: 0.9rem;
  }
}