<div th:fragment="header">
	<header id="header" class="alt">
		<h1><a href="index.html">AIkademia</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu" data-header-loaded="true">
						<ul>
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/manage}">generic</a></li>
				            <li><a th:href="@{/content}">Content</a></li>
							<li><a href="#" class="login-link" onclick="toggleSignupPopup()">Sign Up</a></li>
							<li><a href="#" class="login-link" onclick="toggleLoginPopup()">LogIn</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	
	<div id="login-popup" class="login-popup-wrapper hidden">
	    <div class="popup">
	        <div class="popup-content glass">
	            <h2>Login</h2>
	            <form>
	                <input type="text" placeholder="아이디" required><br>
	                <input type="password" placeholder="비밀번호" required><br>
	                <button type="submit">로그인</button>
					<button type="button" onclick="toggleLoginPopup()">닫기</button>
	            </form>
	        </div>
	    </div>
	</div>
	
	<div id="signup-popup" class="login-popup-wrapper hidden">
	    <div class="popup">
	        <div class="popup-content">
	            <h2>회원가입</h2>
	            <form>
	                <input type="text" placeholder="이름" required />
	                <input type="email" placeholder="이메일" required />
	                <input type="text" placeholder="소속" required />
	                <input type="text" placeholder="아이디" required />
	                <input type="password" placeholder="비밀번호" required />
	                <input type="password" placeholder="비밀번호 확인" required />

	                <button type="submit">가입하기</button>
			        <button type="button" onclick="toggleSignupPopup()">닫기</button>
	            </form>
	        </div>
	    </div>
	</div>
	

</div>