<div th:fragment="loginModal">
  <div id="loginModal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <form th:action="@{/login}" th:object="${loginForm}" method="post" id="loginForm">
        <input type="text" th:field="*{username}" id="username" placeholder="Username" autocomplete="username" />
        <input type="password" th:field="*{password}" id="password" placeholder="Password"
          autocomplete="current-password" />
        <div class="modal-actions">
          <button type="submit" id="confirmLogin" class="login-button">Login</button>
          <button type="button" id="signUpBtn" class="alt">
            Sign&nbsp;Up
          </button>
        </div>
      </form>
      <div id="loginError" style="color: red; margin-top: 10px; text-align: center;"></div>
    </div>
  </div>
</div>